*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
    padding: 20px;
    transition: background-color 0.4s, color 0.4s;
    background: black;
}
body{
      opacity: 0;
      transform: scale(0.8);
      animation: popup 1s ease-out forwards;
      color: #fff;
    }

    @keyframes popup {
      to {
        opacity: 1;
        transform: scale(1);
      }
    }


#header{
    flex: 1;
    width: 100%;
    background-image: url(images/IMG_9441.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

.container{
    padding: 10px 10%;
}

.container{
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 23px;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 50px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: burlywood;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}


.chat-container {
  width: 400px;
  background: #161b22;
  border-radius: 10px;
  box-shadow: 0 0 15px burlywood;
  overflow: hidden;
}

.chat-header {
  background: burlywood;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

.chat-box {
  height: 100px;
  padding: 10px;
  overflow-y: auto;
}

.chat-box p {
  margin: 10px 0;
  line-height: 1.4;
}

.user {
  text-align: right;
  color: burlywood;
}

.bot {
  text-align: left;
  color: burlywood;
}

#chat-form {
  display: flex;
  border-top: 1px solid #30363d;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  background: #0d1117;
  color: white;
}

#user-input:focus {
  outline: none;
}

button {
  background: burlywood;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
}


.header-text h1{
    color: #fff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    margin-top: 20px;
}
.header-text p{
    color: paleturquoise;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid burlywood;
    padding: 15px 25px;
    text-align: center;
}

.header-text h2{
    color: burlywood;
    text-align: center;
}

#about{
    padding: 80px 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 53%;
}

.sub-title{
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.about-col-2 p{
    text-align: justify;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 450;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: burlywood;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width: 50%;
}

.tab-links.tab-link p{
    font-size: 25px;
}

.tab-contents ul li{
    list-style: none;
    margin: 14px 0;
}

.tab-contents ul li span{
    color: burlywood;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-titles p{
    font-size: 22px;
}

/* ------services----------- */
#services{
    padding: 30px 0;
}

#services-list{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(autofit, minmax(250px 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list a{
    background-color: burlywood;
    text-decoration: none;
  
    text-decoration-color: white;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list h2{
    color: burlywood;
}
.services-list p{
    color: white;
}
.services-list ul li{
    color: white;
}

.services-list div:hover{
    background: burlywood;
    transform: translateY(-10px);
}

/*-----portfolio---------*/
#portfolio{
    padding: 50px 0;   
}

.work-list{
       display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(autofit, minmax(250px 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer h2{
    text-align: justify;
    color: #ffff;
    font-size: 30px;
}

.layer h3{
    text-align: center;
    color: burlywood;
    font-size: 25px;
}

.layer ul li{
    color: #ffff;
    font-size: 20px;
    text-align: center;
}

.my-contact{
    color:#ffff;
    text-align: center;
}

.my-contact h1{
    color: burlywood;

}
.my-contact h3{
    color: blue;
}

.my-contact a{
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    border: 2px solid burlywood;
    padding: 15px 25px;
    border-radius: 50px;
}

.my-contact p{
    color: #ffff;
    text-align: center;
}


.content{
    text-align: center;
}

.content h1{
    font-size: 90px;
    color: #ffff;
    margin-bottom: 50px;
}

.content h2{
    color: azure;
    font-size: 40px;
}
.content P{
    color: #ffff;
}

.content a{
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    border: 2px solid burlywood;
    padding: 15px 20px;
    border-radius: 50px;
}

#project{
    background-image: url(images/IMG_8511.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(2, start) infinite;
  color: burlywood;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.project-content h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(225, 89, 10);
    text-align: center;
}
.project-content p{
    text-align: center;
    color: aqua;
}
.project-content ul li{
    color: burlywood;
    list-style: none;
}
.project-content a{
    text-decoration: none;
    text-underline-position: none;
    color: aqua;
}
.project-footer{
    text-align: center;
}